* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.grid {
    display: grid;
    grid-template-columns: [line1] 3% [line2] 94% [line3] 3% [line4];
    grid-template-rows: [row1] auto [row2] auto [row3] auto [row4];
}
header {
    background-color: rgb(231, 52, 52);
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    grid-column-start: line1;
    grid-column-end: line4;
    grid-row-start: row1;
    grid-row-end: row2;
}
header h2 {
    color:white;
    margin:0.5em;
}
header div{
    display:flex;
}
header div button {
    color:white;
    font-weight: bold;
    background-color: rgb(231, 52, 52);
    border:0px;
    border-left:1px solid black;
}
a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.nuevaPartitura{
    background-color: rgb(231, 52, 52);
    margin-top:1.7em;
    margin-bottom:1.7em;
    padding:0.8em;
    box-shadow: 0px 0px 0px 1px rgb(147, 147, 147);
    border-color: lightgray;
    border-radius:5px;
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: row2;
    grid-row-end: row3;
}
#botoLogIn,#botoPartitures{
    padding-left:1em;
    padding-right:1em;
}
#table {
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: row3;
    grid-row-end: row4;
}
table{
    width:100%; 
}
tr {  
    display:flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding:0.1em;
}
th{
    width:100%;
    border: solid white 1px;
    background-color: rgb(231, 52, 52);
    color:white;
}
td{
    justify-content:baseline;
    width:100%;
    border: solid white 1px;
}
svg,path{
    width:15px;
    height:15px; 
}
a {
    color:black; 
}
table tr td button{
    border:none;
    padding:0.15em;
}
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;  
}