<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/partitura.css">
</head>

<body>
  <form name="myform" method="post">
    <label for="titol">Titol:</label><br>
    <input type="text" name="titol"><br>

    <label for="lang">Idioma original:</label>
    <select name="lang">
      <option value="en">Anglès</option>
      <option value="ca">Català</option>
      <option value="fr">Francès</option>
    </select><br>

    <label for="lletraOriginal">Lletra original:</label><br>
    <textarea type="text" name="lletraOriginal" rows="10" cols="40"></textarea><br>

    <label for="traduccio">Traduccio al català:</label><br>
    <textarea type="text" name="traduccio" rows="10" cols="40"></textarea><br>

    <input type="submit" value="Submit">
  </form>
  <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  <script type="module">
    import { GoogleService } from '../Service/GoogleService.js'
    import { ViewPartitura } from '../View/ViewPartitura.js'
    import {PartituraService} from '../Service/PartituraService.js'
    let google = new GoogleService();
    let viewPartitura = new ViewPartitura();
    let partitura = new PartituraService();

    (() => {
      
      google.getIdiomes();
      document.querySelector("form").addEventListener('submit', function () {
      viewPartitura.validar();
      })
      viewPartitura.posarIdHidden();
      tinymce.init({
        selector: 'textarea',
        plugins: [
          'a11ychecker','advlist','advcode','advtable','autolink','checklist','export',
          'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks',
          'powerpaste','fullscreen','formatpainter','insertdatetime','media','table','help','wordcount'
        ],
        toolbar: 'undo redo | formatpainter casechange blocks | bold italic backcolor | ' +
          'alignleft aligncenter alignright alignjustify | ' +
          'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
      });
      //console.log(localStorage)
      window.onload = function (){
        document.querySelector('#id').innerHTML = localStorage.getItem('id')
        document.querySelector('input:nth-child(4)').textContent = localStorage.getItem('titol')
        document.querySelector('option').innerHTML = localStorage.getItem('idiomaOrig')
        document.querySelector('textarea:nth-child(11)').innerHTML = localStorage.getItem('lletraOrig')
        document.querySelector('textarea:nth-child(16)').innerHTML = localStorage.getItem('lletraTrad')
        
      }
      
      
    })();
  </script>
</body>

</html>