<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/piano.css">
</head>

<body>
    <div class="grid">
        <ul class="piano">
            <li id="do" class="white a"></li>
            <li id="do-sust" class="black"></li>
            <li id="re" class="white b"></li>
            <li id="re-sust" class="black"></li>
            <li id="mi" class="white c"></li>
            <li id="fa" class="white d"></li>
            <li id="fa-sust" class="black"></li>
            <li id="sol" class="white e"></li>
            <li id="sol-sust" class="black"></li>
            <li id="la" class="white f"></li>
            <li id="la-sust" class="black"></li>
            <li id="si" class="white g"></li>
            <li id="do7" class="white h"></li>
            
        </ul>

        <div class="formulari">
            <div class="esborrar">
                <h1>CERCANT...</h1>
                <h3>Do Re Mi Fa#</h3>
                <button><a href="">Esborrar</a></button>
            </div>
            <div class="reproduir">
                <h1>RESULTATS:</h1>
                <div>
                    <h4>Happy Birthday</h4>
                    <a href="">Lletra</a>
                </div>
                <button class="botoMusica1">Reproduir canço</button>
                <div>
                    <h4>La Balanguera</h4>
                    <a href="">Lletra</a>
                </div>
                <button class="botoMusica2">Reproduir canço</button>

            </div>
        </div>
    </div>
    <script src="../View/ViewPiano.js"></script>
    <script src="../Service/NotaService.js"></script>
</body>

</html>